@model IEnumerable<StudentManagement.Models.Student>

<h2>Student List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Roll No</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RollNo</td>
                <td>@item.Name</td>
                <td>@item.Age</td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Create")" class="btn btn-primary">Create New</a>
